<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>In Show file</h1>
    <ul>
        <li>
            <h1>Name: <%=farm.name%></h1>
            <h1>City: <%=farm.city%></h1>
            <h1>Email: <%=farm.email%></h1>
        </li>
    </ul>
    <h2>Products</h2>
    <ul>
        <%for(let product of farm.products){%>
            <li>
                <!-- <h5>Name:<%=product.name%></h5> -->
                <h5><a href="/products/<%=product._id%>"><%=product.name%></a></h5>
                <h5>Price:<%=product.price%></h5>
                <h5>Category:<%=product.category%></h5>
            </li>
        <%}%>
    </ul>
    <a href="/farms/<%=farm._id%>/products/new">Add product to this farm</a>
    <a href="/farms">Go back</a>
    <form action="/farms/<%=farm._id%>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
</body>
</html>